#account-page-container {
    flex: 1;
    display: grid;
    grid-template-rows: 0.8fr 0.3fr 4fr;
    grid-template-areas:
    'account-header'
    'account-section'
    'account-details';
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.account-details-header {
    grid-area: account-header;
    display: flex;
    align-items: center;
}

.account-details-tabs {
    grid-area: account-section;
    display: flex;
    gap: 2rem;
    border-bottom: 0.1rem solid black;
}

.section-button {
    position: relative;
    width: fit-content;
    border-bottom: none;
    cursor: pointer;
    user-select: none;
}

.selected-section {
    border-bottom: 0.35rem solid #2749a8;
}

.account-content {
    grid-area: account-details;
}

.input-forms {
    display: flex;
    justify-content: space-evenly;
}

.account-form {
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
}