.home-container {
    height: 100%;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
        'header' 'header' 'header'
        'content' 'content' 'content';
    gap: 5rem;
    color: white;
    background-color: rgba(0, 0, 0, 1);
}

.headers {
    grid-area: 'header';
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    /* outline: 2px solid white; */
}

.content {
    text-align: center;
}

.content > p {
    margin-bottom: 1rem;
}