#login-header {
    padding-bottom: 1.5rem;
}

#login-container {
    background: url(https://images.pexels.com/photos/36487/above-adventure-aerial-air.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-id {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0.1rem 0.1rem 0.5rem black;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    gap: 0.5rem;
    border-radius: 1rem;
    width: 50vw;
    min-width: 30vw;
    backdrop-filter: blur(6px);
}

#login-id > a {
    margin-top: 1rem;
}