#signup-header {
    padding-bottom: 1.5rem;
}

#signup-id {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    gap: 1rem;
    border-radius: 2rem;
    width: fit-content;
}